/* css reset */
* {
    vertical-align: baseline;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
	font-size: 16px;
	border: 0 none;
	outline: 0;
	padding: 0;
    margin: 0;
    cursor: url("../img/img_cursor.png") 16 16, auto;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}
body {
    background-color: #F3F3F3;
}
html {
    height:100%;
    width:100%;
}



/* common stuff */
.spacer {
    width: 100%;
    height: 50px;
}
.double-spacer {
    width: 100%;
    height: 100px;
}
.invert {
    filter: invert(100%);
}

#navbar {
    overflow: hidden;
    position: fixed;
    width: 170px;
    bottom: 10%;
    right: 7%;
    z-index: 10;
}
#navbar a {
    display: block;
    width: 150px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    background-image: url("../img/img_button_background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    font-style: italic;
    margin: 10px;
    -webkit-filter: drop-shadow( 0px 3px 2px #00000080 );
    filter: drop-shadow( 0x 3px 2px #00000080 );
}
#navbar a:hover {
    background-image: url("../img/img_button_background_2.png");
    color: black;
}

.slideanim {
    visibility: hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
