/* MISC */
body {
    margin: 0;
}

/* HOME PAGE */
#processImage {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 80%;
    height: 50%;
}
#contactImage {
    position: absolute;
    top: 3%;
    right: 0%;
    width: 20%;
    height: 60%;
}
#whoImage {
    position: absolute;
    top: 52%;
    left: 0%;
    width: 27%;
    height: 48%;
}

#workImage {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 80%;
    height: 48%;
}
#workImage:hover {
    filter: drop-shadow(30px 30px 7px rgba(255, 219, 14, 0.767));
}
.blurry {
    filter: blur(20px);
}
.flipVert {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: hue-rotate(90deg);
}
.whiteout {
    background-color: white;
}


/* FINISHED WORK */
#middleColumn {
    width: 30%;
    margin: 10% auto;
}
.workItem {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    position: relative;
}
.workItem img {
    width: 100%;
}
.workItemText {
    position: absolute;
    display: none;
    top: 0%;
    left: 105%;
    width: 100%;
    font-family: monospace;
}

/* PROCESS */
#processVideoContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 33.33% 33.33% 33.33%;
}
.processVideoWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.processVideo {
    width: 100%;
    overflow: hidden;
}


/*CONTACT*/
#contactContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#contactText {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}
#passportImage {
    margin: 5% 25%;
    text-align: center;
    position: absolute;
    width: 50%;
}

/*WHO*/
#cvWrapper {
    text-align: center;
}
.cvSize{
    width: 70%;
}
