/* css reset */
* {
    vertical-align: baseline;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
	font-size: 16px;
	border: 0 none;
	outline: 0;
	padding: 0;
    margin: 0;
    cursor: url("../img/img_cursor.png"), auto;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}
body {
    background-color: #F3F3F3;
}
html {
    height:100%;
    width:100%;
}



/* common stuff */
.spacer {
    width: 100%;
    height: 50px;
}
.double-spacer {
    width: 100%;
    height: 100px;
}
.invert {
    filter: invert(100%);
}
