/* header */
#header {
    width: 100%;
    min-height: 210px;
}
#project-title {
	font-size: 80px;
    font-family: futura-pt, sans-serif;
    font-weight: 1000;
    font-style: normal;
    width: 500px;
    margin: auto;
    padding-top: 150px;
    text-align: center;
}
.header-logo {
    position: absolute;
    left: 50%;
    width: 15%;
    margin-left: -7.5%;
    margin-top: 20px;
}

/* navbar2 */
#navbar-2 {
    margin-top: 100px;
    margin-bottom: 0px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
.navbar-2-item {
    width: 130px;
    height: 45px;
    margin: 0px 50px;
    padding: 10px;

    display: block;
}
.navbar-2-item > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#button-back {
    float: left;
}
#button-next {
    float: right;
}

/* footer */
#footer {
    width: 100%;
    height: 100px;
}
