/* header */
#header {
    width: 100%;
}
#project-title {
	font-size: 80px;
    font-family: futura-pt, sans-serif;
    font-weight: 1000;
    font-style: normal;
    width: 500px;
    margin: auto;
    text-align: center;
}

/* navbar */
#navbar {
    float: right;
    margin: 20px 0;
}
.navbar-item {
    display: inline-block;
    margin-right: 100px;
}
.navbar-item > a {
    text-decoration: none;
}
.navbar-item > a:visited {
    color: inherit;
}
.navbar-item > a:hover,
.navbar-item-current > a > div {
    color: blue;
}
.navbar-item > a > div {
    padding: 5px 5px;
    text-align: center;

	font-size: 36px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* navbar2 */
#navbar-2 {
    padding-top: 150px;
    margin-bottom: 0px;
}
.navbar-2-item {
    width: 130px;
    height: 45px;
    margin: 0px 50px;
    padding: 10px;

    display: block;
}
.navbar-2-item > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#button-back {
    float: left;
}
#button-next {
    float: right;
}

/* footer */
#footer {
    width: 100%;
    height: 100px;
}
